                                  Assignment=2

1.Write a program to reverse a string.

In [13]:
input_string=input('enter the string')
output_string=input_string[::-1]
print('reversed string is:',output_string)

enter the string mayur is smart

reversed string is: trams si ruyam

2.Check if a string is a palindrome

In [3]:
s1=input('enter the string')
s1.lower()
s2=s1[::-1]
if s1==s2:
    print('string is palindrome')
else:
    print('string is not palindrome')

enter the string maraaram

string is palindrome

3. Convert a string to uppercase.

In [4]:
input_string=input('enter the string')
output_string=input_string.upper()
print('output:',output_string)

enter the string mayur

output: MAYUR

4. Convert a string to lowercase.

In [5]:
input_string=input('enter the string')
output_string=input_string.lower()
print('output:',output_string)

enter the string MAyur

output: mayur

5. Count the number of vowels in a string.

In [23]:
input_string=input('enter the string')
input_string.lower()
vowels=0
for i in input_string:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
         vowels=vowels+1
print('number of vowels:',vowels)

enter the string Mayur Kuchhadiya

number of vowels: 6

6. Count the number of consonants in a string.

In [27]:
input_string=input('enter the string')
input_string.lower()
vowels=0
for i in input_string:
    if(i!='a' and i!='e' and i!='i' and i!='o' and i!='u' and i!=' '):
        vowels=vowels+1
print('total consonants in string:',vowels)

enter the string Mayur Kuchhadiya

total consonants in string: 9

7. Remove all whitespaces from a string.

In [32]:
input_string=input('enter the string')
output_string=input_string.replace(' ','')
print(output_string)

enter the string Mayur is   smart

Mayurissmart

8. Find the length of a string without using the `len()` function.

In [35]:
input_string=input('enter the string')
count=0
for char in input_string:
     count+=1
print('length of string:',count)

enter the string mayur kuchhadiya

length of string: 16

9. Check if a string contains a specific word.

In [41]:
input_string=input('enter the string')
find_string=input('enter the word to find')
if find_string in input_string:
    print('specified word is present')
else:
    print('specified word is not present')

enter the string my name is mk mer
enter the word to find how

specified word is not present

10. Replace a word in a string with another word.

In [42]:
input_string=input('enter the string')
replaceword=input('enter the word to replace in string')
newword=input('enter the new word')
output_string=input_string.replace(replaceword,newword)
print('new string is:',output_string)

enter the string mayur is good
enter the word to replace in string good
enter the new word smart

new string is: mayur is smart

11. Count the occurrences of a word in a string.

In [45]:
input_string=input('enter the string')
count_word=str(input('enter the word to count'))
output=input_string.count(count_word)
print('total occurrences of word:', output)

enter the string my name is rishi and my course is python.
enter the word to count my

total occurrences of word: 2

12. Find the first occurrence of a word in a string.

In [49]:
input_string=input('enter the string')
count_word=input('enter the word to find')
output=input_string.find(count_word)
print('index of first occurrence of word is:', output)

enter the string my name is mayur is
enter the word to find is

index of first occurrence of word is: 8

13. Find the last occurrence of a word in a string.

In [53]:
input_string=input('enter the string')
find_word=input('enter the word to find')
output=input_string.rfind(find_word)
print('index of first occurrence of word is:', output)

enter the string my name is mayur is
enter the word to find is

index of first occurrence of word is: 17

14. Split a string into a list of words.

In [55]:
input_string=input('enter the string')
reverse_string=input_string.split()
print(reverse_string)

enter the string my name is mayur

['my', 'name', 'is', 'mayur']

15. Join a list of words into a string.

In [61]:
input_list=['my','name','is','mayur']
output_string=' '.join(input_list)
print(output_string)

my name is mayur

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [63]:
input_string=input('enter the string')
output=input_string.replace(' ','_')
print('new modify string will be:',output)

enter the string my name is mayur

new modify string will be: my_name_is_mayur

17. Check if a string starts with a specific word or phrase.

In [66]:
input_string=input('enter the string')
specific_word=input('enter specific word')
output=input_string.startswith(specific_word)
print(output)

enter the string my name is mayur
enter specific word name

False

18. Check if a string ends with a specific word or phrase.

In [67]:
input_string=input('enter the string')
specific_word=input('enter specific word')
output=input_string.endswith(specific_word)
print(output)

enter the string my name is mayur
enter specific word mayur

True

19. Convert a string to title case

In [68]:
input_string=input('enter string')
output=input_string.title()
print('title case of input is:', output)

enter string my name is mayur

title case of input is: My Name Is Mayur

20. Find the longest word in a string.

In [1]:
str=input('enter a string')
word_list=str.split()
longest_word=max(word_list,key = len)
print('longest word:',longest_word)

enter a string my name is mayur

longest word: mayur

21. Find the shortest word in a string.

In [2]:
str=input('enter a string')
word_list=str.split()
shortest_word=min(word_list,key = len)
print('shortest word:',shortest_word)

enter a string my name is mayur

shortest word: my

22. Reverse the order of words in a string.

In [5]:
string=input('enter a string')
words=string.split()
words=list(reversed(words))
print('reversed string:',' '.join(words))

enter a string my name is mayur

reversed string: mayur is name my

23. Check if a string is alphanumeric.

In [16]:
string=input('enter a string')
output=string.isalnum()
if output is True:
    print('string is alphanum')
else:
     print('string is not alphanum')

enter a string Mk134

string is alphanum

24. Extract all digits from a string.

In [25]:
def extracted_digit(string):
    digits=''
    
    for char in string:
        if char .isdigit():
            digits+=char
            
    return digits

string='mk1234'
extract_digit=extracted_digit(string)
print(extract_digit)

1234

25. Extract all alphabets from a string.

In [28]:
def extract_alphabet(string):
    alphabets=''
    
    for char in string:
        if char .isalpha():
            alphabets+=char
            
    return alphabets

string='12mkah324'
extracted_alphabet=extract_alphabet(string)
print(extracted_alphabet)

mkah

26. Count the number of uppercase letters in a string.

In [35]:
string='MaYuR'
count=0
for i in string:
    if i .isupper():
        count+=1

print(count)

3

27. Count the number of lowercase letters in a string.

In [36]:
string='MaYuR'
count=0
for i in string:
    if i .islower():
        count+=1

print(count)

2

28. Swap the case of each character in a string.

In [37]:
string='MaYuR'
output=string.swapcase()
print(output)

mAyUr

29. Remove a specific word from a string.

In [39]:
string=input('enter a string')
specified_word=input('enter a specific word')
output=string.replace(specified_word,'')
print(output)

enter a string mayur
enter a specific word a

myur

30. Check if a string is a valid email address.

In [1]:
import re 

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  
    if re.match(pattern, email):
        return True
    else:
        return False

email = "mayur@gmail.com"
output = is_valid_email(email)
print(output)

True

31. Extract the username from an email address string.

In [6]:
email:input('enter a mail id:-')
output=email.split('@')
print('username of email id is :',output[0])

enter a mail id:- mayur@gmail.com

username of email id is : mayur

32. Extract the domain name from an email address string.

In [15]:
email=input('enter a email id')
output=email.rsplit('@')
output1=output[1].split('.')
print('domain of email is:',output1[0])

enter a email id mayur@gmail.com

domain of email is: gmail

33. Replace multiple spaces in a string with a single space.

In [30]:
string=input('enter a string')
output=' '.join(string.split())
print(output)

enter a string my   name is  mayur

my name is mayur

34. Check if a string is a valid URL.

In [40]:
string=input('enter a URL')
if string.startswith('https://www.') and string.endswith('.com'):
    print('URL is valid')
else:
    print('URL is invalid')

enter a URL https://www.google.com

URL is valid

35. Extract the protocol (http or https) from a URL string.

In [2]:
def extract_protocol():
    url=input('enter a url').split('://',)
    return url[0]

extract_protocol()

enter a url http://www.google.com

'http'

36. Find the frequency of each character in a string.

In [4]:
def frequency_character(input_string):
    frequency={}
    for char in input_string:
        if char in frequency:
            frequency[char]+=1
        else:
            frequency[char]=1
    return frequency
            
frequency_character('mayur kuchhadiya')

{'m': 1,
 'a': 3,
 'y': 2,
 'u': 2,
 'r': 1,
 ' ': 1,
 'k': 1,
 'c': 1,
 'h': 2,
 'd': 1,
 'i': 1}

37. Remove all punctuation from a string.

In [12]:
def remove_punct(input_string):
    punc='''~!@#$%^&*()_[]{};:<>'",./?`'''
    for char in input_string:
        if char in punc:
            input_string=input_string.replace(char,'')
            
    return input_string

remove_punct('hel;l;#%^lo')

'helllo'

38. Check if a string contains only digits.

In [23]:
input_string=input('enter a string')
input_string.isdigit()

enter a string hello

False

39. Check if a string contains only alphabets.

In [24]:
input_string=input('enter a string')
input_string.isalpha()

enter a string hello1

False

40. Convert a string to a list of characters.

In [27]:
input_string=input('enter a string:')
list(input_string)

enter a string: my name is mk

['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'm', 'k']

41. Check if two strings are anagrams.

In [34]:
def anagrams_string(string1,string2):
    s1=string1.replace(' ','').lower()
    s2=string2.replace(' ','').lower()
    return sorted(s1)==sorted(s2)
    

anagrams_string('mayur','ayumr')

True

42. Encode a string using a Caesar cipher.

In [2]:
def caesar_cipher(text,shift):
    encoded_text=''
    for char in text:
        if char.isalpha():
            encoded_char=chr((ord(char)+shift-ord('a'))%26+ord('a'))
        else:
            encoded_char+=char
    encoded_text+=encoded_char
    return encoded_text

caesar_cipher('mayur',3)

'u'

43. Decode a Caesar cipher encoded string.

In [ ]:
def caesar_cipher(text,shift):
    decoded_text=''
    for char in text:
        if char.isalpha():
            decoded_char=chr((ord(char)-shift-ord('a'))%26+ord('a'))
        else:
            decoded_char+=char
    decoded_text+=decoded_char
    return decoded_text

caesar_cipher('mayur',3)

44. Find the most frequent word in a string

In [6]:
from statistics import mode
string='my name is my mayur'
mode([wrd for wrd in string.split()])

'my'

45. Find all unique words in a string.

In [22]:
import re
string=str(input('enter a string ='))
output=re.sub(r'[^\w\s]', '', string).lower()
print(set(output.split()))

enter a string = my name is mayur,my course is python!

{'name', 'my', 'python', 'mayurmy', 'course', 'is'}

46. Count the number of syllables in a string.

In [5]:
def count_syllables(word):
    vowels = "aeiouAEIOU"
    count = 0
    in_vowel_group = False

    for char in word:
        if char in vowels:
            if not in_vowel_group:
                count += 1
                in_vowel_group = True
        else:
            in_vowel_group = False

    if word.endswith('e'):
        count -= 1


    if count == 0:
        count = 1

    return count


word = "banana"
syllable_count = count_syllables(word)
print(f"The word '{word}' has {syllable_count} syllables.")

The word 'banana' has 3 syllables.

47. Check if a string contains any special characters.

In [16]:
import re
def check_string(string):
    
    pattern=r'[!@#$%^&*()_+{}[\]:;<>,.?~\\\/\|]'
    check=re.search(pattern,string)
    
    if check:
        return 'string contain special character = True'
    else:
        return 'string contain special character = False'
    
check_string('hello')

'string contain special character = False'

48. Remove the nth word from a string

In [32]:
def remove_word(string,n):
    y=string.split()
    if n>=len(string):
        return 'there is no',n,'word'
    else:
        y.pop(n-1)
        return ' '.join(y)

remove_word('hello how are you all of you',3)

'hello how you all of you'

49. Insert a word at the nth position in a string.

In [38]:
def insert_word(string,word,n):
    y=string.split()
    if n>len(string):
        return 'please enter a below position'
    else:
        y.insert(n-1,word)
        return ' '.join(y)

insert_word('hello how you all of you','are',3)

'hello how are you all of you'

50. Convert a CSV string to a list of lists.

In [6]:
def csv_string(csv_str):
    try:
        output=csv_str.split('\n')
        result=[]
        for char in output:
            output1=char.split(',')
            result.append(output1)
        return result
    except Exception as e:
        print(e)
csv_str='my, course, is, of, datascience\n my, mentor, is, sundhanshu kumar'
csv_string(csv_str)

[['my', ' course', ' is', ' of', ' datascience'],
 [' my', ' mentor', ' is', ' sundhanshu kumar']]

                                                         List based practice problem

1. Create a list with integers from 1 to 10.

In [7]:
list1=[]
for i in range(1,11):
    list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the len() function.

In [9]:
def length(lis):
    sum=0
    for i in lis:
        sum+=1
    return sum
length([1,2,3,4,5,6,7,8,9])

9

3. Append an element to the end of a list.

In [10]:
def append_ele(lis,element):
    try:
        lis.append(element)
        return lis
    except Exception as e:
        print(e)
lis=[1,2,3,4,5,6]
element='mayur'
append_ele(lis,element)

[1, 2, 3, 4, 5, 6, 'mayur']

4. Insert an element at a specific index in a list.

In [23]:
lis=[1,2,3,4,5,6,7]
element='mayur'
index=4
lis.insert(index,element)
print('update list',lis)

update list [1, 2, 3, 4, 'mayur', 5, 6, 7]

5. Remove an element from a list by its value

In [24]:
lis=[1,2,3,4,5,6]
value=4
lis.remove(value)
print('update list',lis)

update list [1, 2, 3, 5, 6]

6. Remove an element from a list by its index.

In [22]:
lis=[1,2,3,4,5,6]
index=4
lis.pop(index)
print('update list',lis)

update list [1, 2, 3, 4, 6]

7. Check if an element exists in a list.

In [25]:
lis=[1,2,3,4,5,6]
def check_list(element):
    if element in lis:
        return True
    else:
        return False
check_list(4)

True

8. Find the index of the first occurrence of an element in a list

In [28]:
my_list=[1,2,3,2,4,3,8,7,9,5,8]
element=3
out=my_list.index(element)
print(f'index of first occurrence of {element} is {out}')

index of first occurrence of 3 is 2

9. Count the occurrences of an element in a list.

In [29]:
my_list=[1,2,3,4,5,3,2,4,6,4,2,4]
element=4
output=my_list.count(element)
print(f'occurence of {element} is {output}')

occurence of 4 is 4

10. Reverse the order of elements in a list.

In [30]:
my_list=[1,2,3,4,5,6]
my_list.reverse()
print(f'Reverse of my_list is {my_list}')

Reverse of my_list is [6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order

In [31]:
my_list=[6,1,2,4,3,9,8]
my_list.sort()
print(f'sort of my list is {my_list}')

sort of my list is [1, 2, 3, 4, 6, 8, 9]

12. Sort a list in descending order

In [32]:
my_list=[6,1,2,4,3,9,8]
my_list.sort(reverse=True)
print(f'my list in descending order is {my_list}')

my list in descending order is [9, 8, 6, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20

In [35]:
my_list=[i for i in range(1,21) if i%2==0]
print(f'list of even number is {my_list}')

list of even number is [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [36]:
my_list=[i for i in range(1,21) if i%2!=0]
print(f'list of odd number is {my_list}')

list of odd number is [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [39]:
my_list=[1,2,3,4,5,6,7,8]
sum_list=sum(my_list)
print(f'sum of my list is = {sum_list}')

sum of my list is = 36

16. Find the maximum value in a list

In [40]:
my_list=[1,2,3,4,5,6,7,8]
sum_list=max(my_list)
print(f'maximum value of my list is = {sum_list}')

maximum value of my list is = 8

17. Find the minimum value in a list.

In [41]:
my_list=[1,2,3,4,5,6,7,8]
sum_list=min(my_list)
print(f'minimum value of my list is = {sum_list}')

minimum value of my list is = 1

18. Create a list of squares of numbers from 1 to 10.

In [42]:
my_list=[i**2 for i in range(1,11)]
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [49]:
import random
my_list=[random.randint(1, 100) for _ in range(10)]
print(f'list of random number id {my_list}')

list of random number id [95, 90, 41, 34, 78, 8, 20, 47, 19, 100]

20. Remove duplicates from a list

In [54]:
my_list=[1,2,3,2,4,6,5,3,8,1,2]
output=list(set(my_list))
print(f'modified list is{output}')

modified list is[1, 2, 3, 4, 5, 6, 8]

21. Find the common elements between two lists.

In [55]:
list1=[1,2,3,4,5,6]
list2=[2,3,8,9,1,7]
output=[i for i in list1 if i in list2]
print(f'list of common elements is {output}')

list of common elements is [1, 2, 3]

22. Find the difference between two lists.

In [58]:
list1=[1,2,3,4,5,6]
list2=[2,3,8,9,1,7]
output=[i for i in list1 if i not in list2]
print(f'list of difference elements is {output}')

list of difference elements is [4, 5, 6]

23. Merge two lists

In [62]:

list1=[1,2,3,4,5]
list2=[5,6,7,8,9]
output=list1+list2
print(f'merge of two list is {output}')

merge of two list is [1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

24. Multiply all elements in a list by 2.

In [64]:
my_list=[1,2,3,4,5]
output=[i*2 for i in my_list]
print(f'updated list is {output}')

updated list is [2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [65]:
my_list=[1,2,3,4,5,6]
output=[i for i in my_list if i%2==0]
print('filterd list:',output)

filterd list: [2, 4, 6]

26. Convert a list of strings to a list of integers.

In [67]:
my_list=['1','2','3','4','5']
output=[int(i) for i in my_list]
print('list of integers is:',output)

list of integers is: [1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [68]:
my_list=[1,2,3,4,5,6]
output=[str(i) for i in my_list]
print('list of strings is:',output)

list of strings is: ['1', '2', '3', '4', '5', '6']

28. Flatten a nested list

In [73]:
my_list=[[1,2,3],[4,5,6],[7,8,9]]

def flatten_list(my_list):
    lis=[]
    for i in my_list:
        if isinstance(i, list):
            lis.extend(flatten_list(i))
        else:
            lis.append(i)
    return lis
flatten_list(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [80]:
def fibonacci_list(n):
    fibonacci=[0,1]
    for i in range(2,n):
        output=fibonacci[i-1]+fibonacci[i-2]
        fibonacci.append(output)
    return fibonacci
fibonacci_list(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [83]:
def check_list(lis):
    for i in range(1,len(lis)):
        if lis[i]<lis[i-1]:
            return False
    return True
lis=[1,2,3,5,4,6]
check_list(lis)

False

31. Rotate a list to the left by `n` positions

In [84]:
def rotate_list(lis,n):
    n = n % len(lis) 
    rotated_lst = lis[n:] + lis[:n]
    return rotated_lst

rotate_list([1,2,3,4,5,6],2)

[3, 4, 5, 6, 1, 2]

32. Rotate a list to the right by `n` positions.

In [90]:
def rotate_list(lis,n):
    n = n%len(lis)
    rotated_lst = lis[-n:] + lis[:-n]
    return rotated_lst

rotate_list([1,2,3,4,5,6],2)

[5, 6, 1, 2, 3, 4]

33. Create a list of prime numbers up to 50.

In [96]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [3]:
def split_list_into_chunks(input_list, n):
    for i in range(0, len(input_list), n):
        yield input_list[i:i + n]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3
chunks = list(split_list_into_chunks(my_list, chunk_size))
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35. Find the second largest number in a list.

In [2]:
my_list=[1,89,45,26,11,103,45]

def second_largest(my_list):
    my_list.sort()
    n=len(my_list)
    return my_list[n-2]
second_largest(my_list)

89

36. Replace every element in a list with its square

In [4]:
my_list=[1,2,3,4,5,6]
output=[i**2 for i in my_list]
print(f'list with its square is {output}')

list with its square is [1, 4, 9, 16, 25, 36]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [6]:
my_list=['mayur','pw','skills','dsa']
my_dict = {element: index for index, element in enumerate(my_list)}
print(my_dict)

{'mayur': 0, 'pw': 1, 'skills': 2, 'dsa': 3}

38. Shuffle the elements of a list randomly.

In [11]:
import random
my_list=[11,12,13,14,15,16,17,18,19,20]
random.shuffle(my_list)
print(my_list)

[16, 14, 13, 12, 19, 17, 20, 15, 11, 18]

39. Create a list of the first 10 factorial numbers.

In [12]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
    
factorial_list=[factorial(i) for i in range(11)]

print('first 10 factorial list =',factorial_list)

first 10 factorial list = [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [13]:
def check_lists(my_list1,my_list2):
    for item in my_list1:
        if item in my_list2:
            return True
    return False


my_list1=[1,2,3,4,5,6]
my_list2=[7,8,9,10]
check_lists(my_list1,my_list2)

False

41. Remove all elements from a list

In [15]:
my_list=[1,2,3,4,5,6,7,8,9]
my_list.clear()
print('empty list:',my_list)

empty list: []

42. Replace negative numbers in a list with 0.

In [20]:
def check_neg(lis):
    for i in range(len(lis)):
        if lis[i]<0:
            lis[i]=0
    return lis
        
lis=[1,2,-3,4,-5,6]
print('updated list:',check_neg(lis))

updated list: [1, 2, 0, 4, 0, 6]

43. Convert a string into a list of words.

In [21]:
string='my course is full stack data science pro'
lis=string.split()
print('list of words :',lis)

list of words : ['my', 'course', 'is', 'full', 'stack', 'data', 'science', 'pro']

44. Convert a list of words into a string.

In [24]:
from functools import reduce
lis=['my', 'course', 'is', 'full', 'stack', 'data', 'science', 'pro']
output=' '.join(lis)
print('string of list is:',output)

string of list is: my course is full stack data science pro

45. Create a list of the first `n` powers of 2.

In [27]:
n=10
lis=[2**i for i in range(n+1)]
print(f'list of first {n} powers of 2 is {lis}')

list of first 10 powers of 2 is [1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

46. Find the longest string in a list of strings.

In [29]:
lis=['hello','how','are','you','pwskills']
longest_string=''
for i in lis:
    if len(i)>len(longest_string):
        longest_string=i

print('longest string is',longest_string)

longest string is pwskills

47. Find the shortest string in a list of strings.

In [30]:
lis=['hello','how','are','is','you','pwskills']
shortest_string=lis[0]
for i in lis:
    if len(i)<len(shortest_string):
        shortest_string=i

print('shortest string is',shortest_string)

shortest string is is

48. Create a list of the first `n` triangular numbers.

In [32]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n+1)] 
n = 10
triangular_list = triangular_numbers(n)

print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 10 triangular numbers: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a list contains another list as a subsequence.

In [34]:
def is_subsequence(subsequence, my_list):
    subseq_index = 0  
    for element in my_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

my_list=[1,2,3,4,5,6,7]
subsequence=[3,6,7]
is_subsequence(subsequence,my_list)

True

50. Swap two elements in a list by their indices.

In [2]:
my_list=[1,2,3,4,5,6,7]
index1=2
index2=3

x=my_list[index1]
my_list[index1]=my_list[index2]
my_list[index2]=x

print(my_list)

[1, 2, 4, 3, 5, 6, 7]

                                           Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [5]:
tuple([i for i in range(1,6)])

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [8]:
tup=(1,2,3,4,5,6,7)
third_element=tup[2]
print('third element of tuple is ',third_element)

third element of tuple is  3

3. Find the length of a tuple without using the `len()` function.

In [9]:
tup=(1,2,3,4,5,6,7)

length=0
for i in tup:
    length+=1
    
print('the length of tuple is ',length)

the length of tuple is  7

4. Count the occurrences of an element in a tuple

In [10]:
tup=(1,2,3,2,4,5,2,6)
output=tup.count(2)
print('occurrences of 2 in tuple is ',output)

occurrences of 2 in tuple is  3

5. Find the index of the first occurrence of an element in a tuple.

In [11]:
tup=(1,2,3,2,4,5,2,6)
output=tup.index(2)
print('index of first occurrences of 2 in tuple is ',output)

index of first occurrences of 2 in tuple is  1

6. Check if an element exists in a tuple.

In [12]:
tup=(1,2,3,4,5,6)
element=3
if element in tup:
    print('element exits in tuple')
else:
    print('element does not exit in tuple')

element exits in tuple

7. Convert a tuple to a list.

In [13]:
tup=(1,2,3,4,5)

print('list of tuple =',list(tup))

list of tuple = [1, 2, 3, 4, 5]

8. Convert a list to a tuple

In [14]:
lis=[1,2,3,4,5,6]

print('tuple of list =',tuple(lis))

tuple of list = (1, 2, 3, 4, 5, 6)

9. Unpack the elements of a tuple into variables

In [18]:
tup=(1,2,3)
    
var1,var2,var3=tup

print('variables in tuple are ',var1,var2,var3)

variables in tuple are  1 2 3

10. Create a tuple of even numbers from 1 to 10

In [19]:
tup=tuple([i for i in range(11) if i%2==0])

print('tuple of even number from 1 to 10 is ',tup)

tuple of even number from 1 to 10 is  (0, 2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [20]:
tup=tuple([i for i in range(11) if i%2!=0])

print('tuple of odd number from 1 to 10 is ',tup)

tuple of odd number from 1 to 10 is  (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [21]:
tup1=(1,2,3,4)
tup2=(5,6,7)

print('concatenate of tup1 and tup2 is ',tup1+tup2)

concatenate of tup1 and tup2 is  (1, 2, 3, 4, 5, 6, 7)

13. Repeat a tuple three times

In [22]:
tup=(1,2,3)

print('3 times of tup is ',tup*3)

3 times of tup is  (1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [23]:
tup=(1,2,3,4,5,6)

empty_tup=()

if tup==empty_tup:
    print('tuple is empty')
else :
    print('tuple is not empty')

tuple is not empty

15. Create a nested tuple

In [24]:
tup=(1,2,3,4,(5,6,7))

print('nested tuple :',tup)

nested tuple : (1, 2, 3, 4, (5, 6, 7))

16. Access the first element of a nested tuple.

In [26]:
nested_tup=((1,2,3),(4,5,6),(7,8,9))

print('first element nested_tup is ',nested_tup[0] )

first element nested_tup is  (1, 2, 3)

17. Create a tuple with a single element.

In [31]:
tup=(1,)

print('tuple with a single element is :',tup)

tuple with a single element is : (1,)

18. Compare two tuples.

In [28]:
tuple1=(2,3,5)
tuple2=(1,3,5)

print("tuple1 == tuple2:", tuple1 == tuple2)  
print("tuple1 != tuple2:", tuple1 != tuple2)  
print("tuple1 < tuple2:", tuple1 < tuple2)    
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)   
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: False
tuple1 <= tuple2: False
tuple1 > tuple2: True
tuple1 >= tuple2: True

19. Delete a tuple.

In [33]:
tup=(1,2,3)

del(tup)
print('i delete the tuple',tup)

NameError: name 'tup' is not defined

20. Slice a tuple

In [36]:
tup=(1,2,3,4,5,6)

print('slice of tuple is:',tup[3:6])

slice of tuple is: (4, 5, 6)

21. Find the maximum value in a tuple

In [37]:
tup=(1,2,3,4,5,6)

print('the maximum value in tuple is ',max(tup))

the maximum value in tuple is  6

22. Find the minimum value in a tuple

In [38]:
tup=(1,2,3,4,5,6)

print('the minimum value in tuple is ',min(tup))

the minimum value in tuple is  1

23. Convert a string to a tuple of characters.

In [2]:
string='mayur'

print('tuple of string character :',tuple(string))

tuple of string character : ('m', 'a', 'y', 'u', 'r')

24. Convert a tuple of characters to a string.

In [4]:
tup=('m','a','y','u','r')
string=''.join(tup)
print('string of tuple is:',string)

string of tuple is: mayur

25. Create a tuple from multiple data types.

In [5]:
tup=('mayur',5,5.4,True,[1,2,3])

print('tuple of multiple data is ',tup)

tuple of multiple data is  ('mayur', 5, 5.4, True, [1, 2, 3])

26. Check if two tuples are identical.

In [6]:
tuple1=(1,2,3)
tuple2=(1,2,3)

identical=tuple1==tuple2

print('is tuple1 and tuple2 are identical ',identical)

is tuple1 and tuple2 are identical  True

27. Sort the elements of a tuple.

In [8]:
tup=(1,2,3,2,4,5,1,6)
sort_tuple=tuple(sorted(tup))

print('sorted tuple:',sort_tuple)

sorted tuple: (1, 1, 2, 2, 3, 4, 5, 6)

28. Convert a tuple of integers to a tuple of strings

In [9]:
tup=(1,2,3,4,5,6)
tup_str=tuple([str(i) for i in tup])

print('tupple of string:',tup_str)

tupple of string: ('1', '2', '3', '4', '5', '6')

29. Convert a tuple of strings to a tuple of integers.

In [10]:
tup=('1','2','3','4','5')
tup_int=tuple(int(i) for i in tup)

print('tuple of integer:',tup_int)

tuple of integer: (1, 2, 3, 4, 5)

30. Merge two tuples.

In [12]:
tup1=(1,2,3,4)
tup2=('mayur',5,6)

print('merge of tuple1 and tuple2 is',tup1+tup2)

merge of tuple1 and tuple2 is (1, 2, 3, 4, 'mayur', 5, 6)

31. Flatten a nested tuple.

In [13]:
def flatten_tup(tup):
    flatten_lis=[]
    for item in tup:
        if isinstance(item, tuple):
            flatten_lis.extend(flatten_tup(item))
        else:
            flatten_lis.append(item)
    return flatten_lis


tup=((1,2,3),(4,5,6))
flatten_tuple=tuple(flatten_tup(tup))
print('flatten tuple:',flatten_tuple)

flatten tuple: (1, 2, 3, 4, 5, 6)

32. Create a tuple of the first 5 prime numbers.

In [15]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

print('tuple of first 5 prime number is:',tuple(prime_numbers_list))

tuple of first 5 prime number is: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [18]:
tup=(1,2,3,2,1)

if tup==tup[::-1]:
    print('tuple is palindrome')
else:
    print('tuple is not palindrome')

tuple is palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [19]:
tup=tuple(i**2 for i in range(1,6))

print('tuple of squares of numbers from 1 to 5 is:',tup)

tuple of squares of numbers from 1 to 5 is: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple

In [20]:
tup=(1,2,3,4,5,6,7,8,9)

even_tup=tuple(i for i in tup if i%2==0)
print('filtered tuple:',even_tup)

filtered tuple: (2, 4, 6, 8)

36. Multiply all elements in a tuple by 2

In [22]:
tup=(1,2,3,4,5,6,7,8,9)

double_tup=tuple(i*2 for i in tup)
print('filtered tuple:',double_tup)

filtered tuple: (2, 4, 6, 8, 10, 12, 14, 16, 18)

37. Create a tuple of random numbers

In [23]:
import random

random_tup=tuple(random.randint(1,100) for _ in range(15))
print('tuple of random number is ',random_tup)

tuple of random number is  (40, 1, 5, 91, 18, 75, 48, 97, 21, 22, 60, 58, 40, 67, 25)

38. Check if a tuple is sorted.

In [27]:
tup=(1,2,3,5,4,6)

if tup==tuple(sorted(tup)):
    print('tuple is sorted')
else:
    print('tuple is not sorted')

tuple is not sorted

39. Rotate a tuple to the left by `n` positions.

In [32]:
def rotate_tuple(tup,n):
    return tup[n:]+tup[:n]

tup=(1,2,3,4,5,6,7,8)
n=3
print(f'tuple after left by {n} position is: {rotate_tuple(tup,n)}')

tuple after left by 3 position is: (4, 5, 6, 7, 8, 1, 2, 3)

40. Rotate a tuple to the right by `n` positions.

In [33]:
def rotate_tuple(tup,n):
    return tup[-n:]+tup[:-n]

tup=(1,2,3,4,5,6,7,8)
n=3
print(f'tuple after right by {n} position is: {rotate_tuple(tup,n)}')

tuple after right by 3 position is: (6, 7, 8, 1, 2, 3, 4, 5)

41. Create a tuple of the first 5 Fibonacci numbers.

In [1]:
def generate_fibonacci(n):
    fibonacci = [0, 1]  
    while len(fibonacci) < n: 
        next_number = fibonacci[-1] + fibonacci[-2]  
        fibonacci.append(next_number) 
    return tuple(fibonacci) 

n=5
print('fibonacci of first 5 number is:',generate_fibonacci(n))

fibonacci of first 5 number is: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [1]:
input_str = input("Enter elements separated by commas: ")
input_list = input_str.split(',')

user_tuple = tuple(input_list)

print("User input tuple:", user_tuple)

Enter elements separated by commas:  1,2,mayur,pw,skills

User input tuple: ('1', '2', 'mayur', 'pw', 'skills')

43. Swap two elements in a tuple.

In [6]:
tup=(1,2,3,4,5,6)
lis=list(tup)

index1=3
index2=4

x=lis[index1]
lis[index1]=lis[index2]
lis[index2]=x

print(f'tuple after swapping index {index1} and {index2} is {tuple(lis)}')

tuple after swapping index 3 and 4 is (1, 2, 3, 5, 4, 6)

44. Reverse the elements of a tuple.

In [7]:
tup=(1,2,3,4,5,6)
reverse_tup=tup[::-1]

print('reverse tuple:',reverse_tup)

reverse tuple: (6, 5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [10]:
n=5
tup=tuple((2**n for n in range(n)))
print(f'tuple of first {n} powers of 2 is {tup}')

tuple of first 5 powers of 2 is (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings

In [13]:
tup=('mayur','pw','skills','dsa')

print('longest sting in tuple is:',max(tup,key=len))

longest sting in tuple is: skills

47. Find the shortest string in a tuple of strings.

In [14]:
tup=('mayur','pw','skills','dsa')

print('shortest sting in tuple is:',min(tup,key=len))

shortest sting in tuple is: pw

48. Create a tuple of the first `n` triangular numbers.

In [16]:
n=5

triangular_num = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print(f'tuple of first {n} triangular number is {triangular_num}')

tuple of first 5 triangular number is (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence

In [20]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple=(1,2,3,4,5,6,7,8,9)
sub_tuple=(4,5,10)
if contains_subsequence(main_tuple, sub_tuple):
    print('it contain subsequence')
else:
    print('it does not contain subsequence')

it does not contain subsequence

50. Create a tuple of alternating 1s and 0s of length `n`.

In [21]:
n=10
alter_tuple = tuple(i % 2 for i in range(n))

print('alternating tuple:',alter_tuple)

alternating tuple: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

                                  Set Based Practise Problem

1. Create a set with integers from 1 to 5

In [22]:
my_set={i for i in range(1,6)}

print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [25]:
my_set={1,2,3,4,5,6}
print('original set',my_set)
element=8
my_set.add(element)
print(f'set after adding {element} is {my_set}')

original set {1, 2, 3, 4, 5, 6}
set after adding 8 is {1, 2, 3, 4, 5, 6, 8}

3. Remove an element from a set.

In [27]:
my_set={1,2,3,4,5,6}
print('original set',my_set)
element=4
my_set.remove(element)
print(f'set after removing {element} is {my_set}')

original set {1, 2, 3, 4, 5, 6}
set after removing 4 is {1, 2, 3, 5, 6}

4. Check if an element exists in a set.

In [30]:
my_set={1,2,3,4,5,6}
element=int(input('enter a element to check'))

if element in my_set:
    print('element exit')
else:
    print('element not exit')

enter a element to check 4

element exit

5. Find the length of a set without using the len() function.

In [31]:
my_set={1,2,3,4,5,6}

length=0
for i in my_set:
    length+=1
print('length of set is:',length)

length of set is: 6

6. Clear all elements from a set

In [33]:
my_set={1,2,3,4,56}
my_set.clear()

print('set after clear all element:',my_set)

set after clear all element: set()

7. Create a set of even numbers from 1 to 10.

In [35]:
my_set={i for i in range(1,11) if i%2==0}

print('set of even numbers from 1 to 10:',my_set)

set of even numbers from 1 to 10: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [36]:
my_set={i for i in range(1,11) if i%2!=0}

print('set of odd numbers from 1 to 10:',my_set)

set of odd numbers from 1 to 10: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [37]:
set1={1,2,3,4,5,6}
print('set1:',set1)
set2={5,6,7,8,9}
print('set2:',set2)

union_set=set1.union(set2)
print('union of set1 and set2 is:',union_set)

set1: {1, 2, 3, 4, 5, 6}
set2: {5, 6, 7, 8, 9}
union of set1 and set2 is: {1, 2, 3, 4, 5, 6, 7, 8, 9}

10. Find the intersection of two sets.

In [39]:
set1={1,2,3,4,5,6}
print('set1:',set1)
set2={5,6,7,8,9}
print('set2:',set2)

inters_set=set1.intersection(set2)
print('intersection of set1 and set2 is:',inters_set)

set1: {1, 2, 3, 4, 5, 6}
set2: {5, 6, 7, 8, 9}
intersection of set1 and set2 is: {5, 6}

11. Find the difference between two sets

In [40]:
set1={1,2,3,4,5,6}
print('set1:',set1)
set2={5,6,7,8,9}
print('set2:',set2)

differ_set=set1.difference(set2)
print('difference of set1 and set2 is:',differ_set)

set1: {1, 2, 3, 4, 5, 6}
set2: {5, 6, 7, 8, 9}
difference of set1 and set2 is: {1, 2, 3, 4}

12. Check if a set is a subset of another set.

In [42]:
set1={6,7,8}
print('set1:',set1)
set2={5,6,7,8,9}
print('set2:',set2)

result=set1.issubset(set2)
print('is set1 is a subset of set2:',result)

set1: {8, 6, 7}
set2: {5, 6, 7, 8, 9}
is set1 is a subset of set2: True

13. Check if a set is a superset of another set.

In [45]:
set1={6,7,8}
print('set1:',set1)
set2={5,6,7,8,9}
print('set2:',set2)

result=set2.issuperset(set1)
print('is set2 is a superset of set1:',result)

set1: {8, 6, 7}
set2: {5, 6, 7, 8, 9}
is set2 is a superset of set1: True

14. Create a set from a list.

In [46]:
lis=[1,2,3,4,5,6]
print('this is my list:',lis)

print('set of my list is:',set(lis))

this is my list: [1, 2, 3, 4, 5, 6]
set of my list is: {1, 2, 3, 4, 5, 6}

15. Convert a set to a list.

In [47]:
set1={1,2,3,4,5,6}
print('this is my set:',set1)

print('list of my set is:',list(set1))

this is my set: {1, 2, 3, 4, 5, 6}
list of my set is: [1, 2, 3, 4, 5, 6]

16. Remove a random element from a set.

In [48]:
import random
my_set={1,2,3,4,5,6}
print('original set:',my_set)

remove=random.choice(list(my_set))
my_set.remove(remove)
print(f'set after removing element {remove} is {my_set}')

original set: {1, 2, 3, 4, 5, 6}
set after removing element 2 is {1, 3, 4, 5, 6}

17. Pop an element from a set.

In [1]:
my_set={1,2,3,4,5,6}
print('original set',my_set)

element=my_set.pop()
print(f'set after removing {element} is {my_set}')

original set {1, 2, 3, 4, 5, 6}
set after removing 1 is {2, 3, 4, 5, 6}

18. Check if two sets have no elements in common

In [5]:
set1={1,2,3,4,5}
set2={5,6,7,8,9}
print('set1:',set1)
print('set2:',set2)

intersection=set1.intersection(set2)
if set1.intersection(set2):
    print('sets have a common element',intersection)
else:
    print('sets have no common element')

set1: {1, 2, 3, 4, 5}
set2: {5, 6, 7, 8, 9}
sets have a common element {5}

19. Find the symmetric difference between two sets.

In [7]:
set1={1,2,3,4,5}
set2={5,6,7,8,9}
print('set1:',set1)
print('set2:',set2)

difference=set1.symmetric_difference(set2)
print('symmetric difference:',difference)

set1: {1, 2, 3, 4, 5}
set2: {5, 6, 7, 8, 9}
symmetric difference: {1, 2, 3, 4, 6, 7, 8, 9}

20. Update a set with elements from another set.

In [9]:
set1={1,2,3,4,5}
set2={5,6,7,8,9}
print('set1:',set1)
print('set2:',set2)

set1.update(set2)
print('after updating set1 with set2:',set1)

set1: {1, 2, 3, 4, 5}
set2: {5, 6, 7, 8, 9}
after updating set1 with set2: {1, 2, 3, 4, 5, 6, 7, 8, 9}

21. Create a set of the first 5 prime numbers.

In [10]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_set = set()
num = 2

while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1
    
print('set of first 5 prime number',prime_set)

set of first 5 prime number {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [11]:
set1={1,2,3,4,5}
set2={5,6,7,8,9}
print('set1:',set1)
print('set2:',set2)

if set1==(set2):
    print('sets are identical')
else:
    print('sets are not identical')

set1: {1, 2, 3, 4, 5}
set2: {5, 6, 7, 8, 9}
sets are not identical

23. Create a frozen set.

In [12]:
lis=[2,3,5,1,8]
frozen_set=frozenset(lis)

print('frozen set:',frozen_set)

frozen set: frozenset({1, 2, 3, 5, 8})

24. Check if a set is disjoint with another set.

In [14]:
set1={1,2,3,4,5}
set2={6,7,8,9}
print('set1:',set1)
print('set2:',set2)

if set1.isdisjoint(set2):
    print('sets are disjoint')
else:
    print('sets are not disjoint')

set1: {1, 2, 3, 4, 5}
set2: {8, 9, 6, 7}
sets are disjoint

25. Create a set of squares of numbers from 1 to 5.

In [15]:
lis=[i**2 for i in range(1,6)]

print('set of squares of number from 1 to 5 :',set(lis))

set of squares of number from 1 to 5 : {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [18]:
my_set={1,2,3,4,5,6,7,8,9}
print('original set:',my_set)

filter_set=set()
for i in my_set:
    if i%2==0:
        filter_set.add(i)
print('filtered set:',filter_set)

original set: {1, 2, 3, 4, 5, 6, 7, 8, 9}
filtered set: {8, 2, 4, 6}

27. Multiply all elements in a set by 2.

In [20]:
my_set={1,2,3,4,5,6,7,8,9}
print('original set:',my_set)

mul_set=set()
for i in my_set:
    mul=i*2
    mul_set.add(mul)
print('doubled set:',mul_set)

original set: {1, 2, 3, 4, 5, 6, 7, 8, 9}
doubled set: {2, 4, 6, 8, 10, 12, 14, 16, 18}

28. Create a set of random numbers.

In [30]:
import random

random_set=set()
for _ in range(5):
    random_num = random.randint(1, 100)
    random_set.add(random_num)
print('random number set:',random_set)

random number set: {100, 51, 23, 58, 28}

29. Check if a set is empty.

In [32]:
my_set=set()
print('original set:',my_set)

if my_set==set():
    print('set is empty')
else:
    print('set is not empty')

original set: set()
set is empty

30. Create a nested set (hint: use frozenset).

In [33]:
set1={1,2,3,4}
set2={5,6,7,8}

frozen_set1=frozenset(set1)
frozen_set2=frozenset(set2)

nested={frozen_set1,frozen_set2}
print('nested set:',nested)

nested set: {frozenset({1, 2, 3, 4}), frozenset({8, 5, 6, 7})}

31. Remove an element from a set using the discard method.

In [35]:
my_set={1,2,3,4,5,6,7}
print('original set:',my_set)

element=3
my_set.discard(element)
print(f'set after removing {element} is {my_set}')

original set: {1, 2, 3, 4, 5, 6, 7}
set after removing 3 is {1, 2, 4, 5, 6, 7}

32. Compare two sets.

In [36]:
set1={1,2,3,4,5}
set2={6,7,8,9}
print('set1:',set1)
print('set2:',set2)

is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)

print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

set1: {1, 2, 3, 4, 5}
set2: {8, 9, 6, 7}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: set()
Union: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Elements in set1 but not in set2: {1, 2, 3, 4, 5}
Elements in set2 but not in set1: {8, 9, 6, 7}

33. Create a set from a string.

In [37]:
string='mayur'

string_set=set()
for i in string:
    string_set.add(i)
    
print('set of',string,'is',string_set)

set of mayur is {'r', 'm', 'a', 'y', 'u'}

34. Convert a set of strings to a set of integers.

In [38]:
set_string={'1','2','3','4','5'}
print('set of string:',set_string)

int_set=set()
for i in set_string:
    int_set.add(int(i))

print('set of integer:',int_set)

set of string: {'4', '3', '5', '2', '1'}
set of integer: {1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [39]:
set_int={1,2,3,4,5}
print('set of integer:',set_int)

set_str=set()
for i in set_int:
    set_str.add(str(i))

print('set of string:',set_str)

set of integer: {1, 2, 3, 4, 5}
set of string: {'5', '1', '4', '3', '2'}

36. Create a set from a tuple.

In [41]:
tup=(1,2,3,4,5,6)
print('tuple:',tup)

print('set of tuple:',set(tup))

tuple: (1, 2, 3, 4, 5, 6)
set of tuple: {1, 2, 3, 4, 5, 6}

37. Convert a set to a tuple.

In [42]:
my_set={1,2,3,4,5}
print('set:',my_set)

print('tuple of set:',tuple(my_set))

set: {1, 2, 3, 4, 5}
tuple of set: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [43]:
my_set={1,2,8,9,6,4,3}
print(f'maximum value in set {my_set} is {max(my_set)}')

maximum value in set {1, 2, 3, 4, 6, 8, 9} is 9

39. Find the minimum value in a set.

In [44]:
my_set={1,2,8,9,6,4,3}
print(f'minimum value in set {my_set} is {min(my_set)}')

minimum value in set {1, 2, 3, 4, 6, 8, 9} is 1

40. Create a set from user input

In [45]:
user_set=set()

print('enter a element to add in set else to finish set enter end')
while True:
    inp=input('enter a element')
    
    if inp.lower()=='end':
        break
    user_set.add(inp)
    
print('your set:',user_set)

enter a element to add in set else to finish set enter end

enter a element 1
enter a element 12
enter a element 54
enter a element end

your set: {'54', '12', '1'}

41. Check if the intersection of two sets is empty.

In [49]:
set1={1,2,3,4,5}
set2={6,7,8,9}
print('set1 and set2 are:',set1,set2)

intersection=set1.intersection(set2)
if set1.intersection(set2)==set():
    print('intersection of two set is empty')
else:
    print('intersection of two set is not empty',intersection)

set1 and set2 are: {1, 2, 3, 4, 5} {8, 9, 6, 7}
intersection of two set is empty

42. Create a set of the first 5 Fibonacci numbers.

In [50]:
fibonacci_set=set()
a,b=0,1
for i in range(6):
    fibonacci_set.add(a)
    
    a,b=b,a+b

print('fibonacci set upto 5 is:',fibonacci_set)

fibonacci set upto 5 is: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [51]:
lis=[1,2,3,4,5,6,1,2,3]
print('original list:',lis)

print('list after removing duplicates:',list(set(lis)))

original list: [1, 2, 3, 4, 5, 6, 1, 2, 3]
list after removing duplicates: [1, 2, 3, 4, 5, 6]

44. Check if two sets have the same elements, regardless of their count.

In [54]:
set1={2,1,3,4,4,3}
set2={1,2,3,4}

if sorted(set1)==sorted(set2):
    print('both set have same element')
else:
    print('both set have not same element')

both set have same element

45. Create a set of the first `n` powers of 2.

In [55]:
n=5

result=set([2**n for n in range(n)])

print(f'set of first {n} powers of 2 is:',result)

set of first 5 powers of 2 is: {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [57]:
lis=[1,2,3,4,5,6]
print('list is:',lis)
my_set={5,6,7,8,9}
print('set is:',my_set)

print('common elements in above list and set is:',list(my_set.intersection(set(lis))))

list is: [1, 2, 3, 4, 5, 6]
set is: {5, 6, 7, 8, 9}
common elements in above list and set is: [5, 6]

47. Create a set of the first `n` triangular numbers.

In [58]:
n=10

my_set=set()

for i in range(1,n+1):
    my_set.add(i*(i+1)//2)
    
print(f'set of first {n} triangular number is: {my_set}')

set of first 10 triangular number is: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

48. Check if a set contains another set as a subset.

In [60]:
set1={1,2,3,4,5,6}
set2={1,2,3}

print('set1 and set2 are:',set1,set2)

if set1.issubset(set2):
    print('set1 is a subset of set2')
elif set2.issubset(set1):
    print('set2 is a subset of set1')
else:
    print('not a subset')

set1 and set2 are: {1, 2, 3, 4, 5, 6} {1, 2, 3}
set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [62]:
n=10

result=set([i%2 for i in range(n)])
print(f'alternating set of length {n} is result {result}')

alternating set of length 10 is result {0, 1}

50. Merge multiple sets into one.

In [66]:
set1={1,2,3}
set2={4,5,6}
set3={7,8,9}

print(f'set1, set2 and set3 are {set1} {set2} {set3}')

set1.update(set2,set3)
print('merge set:',set1)

set1, set2 and set3 are {1, 2, 3} {4, 5, 6} {8, 9, 7}
merge set: {1, 2, 3, 4, 5, 6, 7, 8, 9}